main{
    background-color: black;
    color: aliceblue;
}

#showSchedule{
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

#dateSelect{
    font-size: 14px;
    padding: 2px;
    margin-bottom: 2px;
    background-color: rgb(46, 45, 45);
    color: aliceblue;
}

#showInfo{
    align-items: center;
}

#Finch{
width: 296.5px;
height: auto;
}

.about-movie-poster{
position: absolute;
top: 700px;
left: 200px;

}

.movie-trailer{
    height: 600px;
    width: 100%;
    position:relative;
    top: 30px;
}

.movie-title{
    position: absolute;
    top: 1050px;
    left: 510px;
}