@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@200&family=Roboto+Mono:wght@500&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-family: 'Lora', serif;
    color: #bfbab4
}



main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #100c08;
    color: #bfbab4;
    text-decoration: none;
}

.description{
    width: 600px;
    color: #fff;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    position: static;
    overflow:auto;
}
.movie{
    width: 300px;
    height: fit-content;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    position: static;
    overflow: hidden;
    
}
.movie img{
    width: 100%;
    transition: all 1s ease-in-out;
    object-fit: cover;
    

}
.movie:hover .movie img{
    transform: scale(1.2);
}

.title{
    color: white;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.title h3{
    margin-top: 0;
}

.overview{
    
    color: #fff;
    padding: 10%;
    font-size: 14px;
    position: static;
    top: 0;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.movie:hover{
    cursor: pointer;
}

.movie:hover .overview{
    transform: scale(1.2);  
    max-height: 100px;
    opacity: 1;  
}

.movie-trailer{
    height: 600px;
    width: 100%;
    position: relative;
    top: 30px;
}

.dropdown {
position: relative;
margin-top: 30px;
margin-right: 300px;
}
.dropdown__content {
display: none;
left: 0;
padding-top: 4px;
position: absolute;
top: 100%;
background-color:#0e0b07;
color: #bfbab4;
/* z-index: 9999; */ /* removed z-index so that it falls under the nav */
height: 400px;
width: 300px;
overflow: auto;
}

.dropdown:hover .dropdown__content {
display: block;
}

.filmScheduleDiv{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    grid-gap: 20px;
    padding: 10px;
    align-items: center;
}

.filmScheduleSpan{
    align-items: center;
    margin: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    text-align: center;
}

.showDataDiv{
    font-family: 'Lora', serif;
}


.container__media {
margin-top: 50px;
margin-right: 16px;
margin-left: 16px;

width: 400px;
}

.container__content {

flex: 0.85;
}

#testContainer{
    background-color: #0e0b07;
    text-decoration: none;
}
u{
 text-decoration: none;
}

.container__block {
   font-size: 18px;
   align-items: start;
   display: flex;
   margin-left: 16px;
}

.about-movie-poster{
    position: static; /* ändrad från absolute till static */
    margin: 50px;
    top: 700px;
    left: 200px;
}

#moviesContainer{
  display: flex;
  margin: auto;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
}


.showschedule-button{
    margin-top: 10px;
    margin-bottom: 35px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    color:#fff;
    background-color: rgba(211, 211, 211, 0.281);
   /* font-size: 18px;
   font-family: 'Lora', serif;
   font-weight: 900;
   border-width: 2px; */
}

.showschedule-button:hover{
    cursor: pointer;
    background-color:  #9c9c97;
}


