/* 
color palette!
--bistre: #433424;
--gallery: #eeeeee;
--night-rider: #100c08;
--zorba: #a49c94;
--makara: #837c71;
--star-dust: #9c9c97;
--chicago: #605f5d;
--dusty-gray: #949494;
--ironside-gray: #6c6c66;
*/

body{
    margin: 0;
    background-color: black;
    color: aliceblue;
}

    #navigation{
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: +5;
    }
 
main{
    background-color: black;
    color: aliceblue;
}


#showSchedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #100c08;
    font-family: 'Lora', serif;
    color: #bfbab4;
} 

 #dateSelect{
    font-size: 14px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #0a0705;
    color: #bfbab4;
}

#movieTitle{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

 #showInfo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin: 0 auto;
    width: 100%;
    gap: 10px;
}

#movies{
    text-align: center;
    width: 85%;
    align-items: center;

}



.showDataDiv{
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    flex-direction: column;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #showInfo {  
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1267px) {
    #showInfo {  
        grid-template-columns: repeat(6, 1fr);
    }
}

#Finch{
    width: 296.5px;
    height: auto;
}

.about-movie-poster{
    position: static;
    margin: 50px;
    top: 700px;
    left: 200px;
}



.movie-title-container{
    position: absolute;
    top: 650px;
    left: 500px;
}
.movie-trailer-container{
    max-width: 100%;
    height: 200px;
}

.movie-description-container{
    position: relative;
    left: 800px;
    top: 200px;
    max-width: 25%;
    height: 400px;
    overflow: auto;
}
.movie-poster-container{
    position: absolute;
    left: 2%;
    top: 630px;
}

.container__block {

   align-items: start;
   display: flex;
   margin-left: 16px;
}

.container__media {
margin-top: 50px;
margin-right: 16px;
margin-left: 16px;

width: 400px;
}

.container__content {

flex: 0.85;
}

/* Styling for conformation button
*
*  Moved to show_page_style.css
*/

/*#confirm-btn #btn{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    color:#fff;
    background-color: rgba(211, 211, 211, 0.281);
}
#confirm-btn #btn:hover{
    background-color:  #9c9c97;
}*/
