<div id="showMain">
    <div id="movieTitle"></div>
    <div id="showInfo"></div>

    <div id="customerCategorySelection">
        <div class="customerCategoryDiv">
            <h3 id="customerCategoryH">Välj antal biljetter</h3>
            <div class="innerDiv">
                <p class="customerCategoryP">
                    Ordinarie
                </p>
                <span class="customerCategorySpanTop">
                    <span class="customerCategorySub" id="ordCategorySub">-</span>
                    <span id="ordCategoryCount">0</span>
                    <span class="customerCategoryAdd" id="ordCategoryAdd">+</span>
                </span>
            </div>
            <div class="innerDiv">
                <p class="customerCategoryP">
                    Pensionär
                </p>
                <span class="customerCategorySpanTop">
                    <span class="customerCategorySub" id="seniorCategorySub">-</span>
                    <span id="seniorCategoryCount">0</span>
                    <span class="customerCategoryAdd" id="seniorCategoryAdd">+</span>
                </span>
            </div>
            <div class="innerDiv">
                <p class="customerCategoryP">
                    Barn
                </p>
                <span class="customerCategorySpanTop">
                    <span class="customerCategorySub" id="childCategorySub">-</span>
                    <span id="childCategoryCount">0</span>
                    <span class="customerCategoryAdd" id="childCategoryAdd">+</span>
                </span>
            </div>
        </div>
        <div id="total-price-container"></div>
    </div>

    <div id="auditoriumContainer">
        <div id="seatTypes">
            <div class="seat"></div>
            <p>Tillgängligt säte</p>
            <div class="seatOccupied"></div>
            <p>Upptaget säte</p>
            <div class="seatSelected"></div>
            <p>Valt säte</p>
        </div>
        <div id="seatsToSelect">Välj säten (0)</div>
        <div id="screen"></div>
        <div id="seats"></div>

        <div id="confirm-btn">
            <button id="btn">Köp</button>
        </div>
    </div>
</div>