<section aria-label="Movies">
    <div class="carousel" data-carousel>
        <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
        <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
        <ul data-slides>
            <li class="slide" data-active>
                <img src="/images/movieSliderImages/Dune_wallpaper.jpg" alt="Dune">
            </li>
            <li class="slide">
                <img src="/images/movieSliderImages/eternals_wallpaper.jpg" alt="Marvel eternals">
            </li>
            <li class="slide">
                <img src="/images/movieSliderImages/finch_wallpaper.jpg" alt="Finch">
            </li>
            <li class="slide">
                <img src="/images/movieSliderImages/matrixResurections_wallpaper.jpg" alt="Matrix Ressurections">
            </li>
            <li class="slide">
                <img src="/images/movieSliderImages/redNotice_wallpaper.jpg" alt="Red Notice">
            </li>
        </ul>
    </div>
</section>

<div id="showSchedule">
    <h2>Visningar</h2>
    <p>Välj datum</p>
    <select id="dateSelect"></select>
    <div id="showInfo"></div>
</div>

<!--<div class="container">
    <div class="button">
        <a onclick="nextimg(-1)" class="prev">&#10094;</a>
        <a onclick="nextimg(1)" class="next">&#10095;</a>
    </div>
</div>-->

<footer id="bottom"></footer>